@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    border: none;
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}
/*var*/
:root{
    /*light theme colors*/
    --color1: #47ff93;
    --color2: #00ff7b;
    --bg-color: #efefed;
    --font-black: #0f0f0f;
    --font-white: #f0f0f0;
    --a-bg-color:  #5151515f;
}
body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #000000;  
    background-image: url("../media/aqp.jpg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-attachment: fixed;
}
h1,h2{
    font-family: 'Montserrat', sans-serif;
    color: var(--font-white);
}
h3,h4,h5,h6,a{
    font-family: 'Montserrat', sans-serif;
    color: var(--font-black);
}
p{
    font-family: 'Poppins', sans-serif;
}
body .hgroup{
    margin-top: 3rem;
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
    color: var(--font-white);
}
body .hgroup h1{
    font-size: 3rem;
    margin: 3rem 1rem 1rem 1rem;
}
body .hgroup h2{
    font-size: 2rem;
    margin: 2rem 1rem 3rem 1rem;
}
/*main container*/
body .main_container{
    width:80%;
    background-color: var(--bg-color); 
    margin-bottom: 3rem;
}
/*nav section*/
body nav{
    background-color:  var(--a-bg-color);
    width:80%;
    display: flex;
    flex-wrap: wrap;
}
nav h3, nav a{
    display: inline-block;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 1rem;
}
body nav h3{
    color: var(--font-black);
    background-color: var(--bg-color);
}
body nav a{
    color: var(--font-white);
    background-color: #fff0;
}
body nav a:hover{
    color: var(--font-black);
    background-color: #fff5 ;
}
.nav__a__icon{
    display: none;
}
/*articles*/
body .main_container .main_article{
    padding: 1rem 2rem;
}
article h3{
    font-size: 2rem;
    text-align: center;
    padding: 1rem 0 0 0;
}
article h4{
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem 0 0 0;
}
article p{
    padding: 2rem 2rem 0 2rem;
    text-align: justify;
    font-size: 1.2rem; 
}
.img_container{ 
    overflow: hidden;
    padding: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}
.main_img{
    max-width: 550px;
    width: 100%;
}
img{
    max-width: 550px;
    width: 100%;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: var(--color1);
    background: linear-gradient(90deg, rgba(21,255,134,1) 0%, rgba(71,255,147,1) 20%, rgba(71,255,147,1) 80%, rgba(21,255,134,1) 100%);
}
footer .about_us{
    padding: 2rem 2rem 2rem 2rem;
    width: 100%;
}
footer .about_us h4{
    text-align: justify;
    font-size: 1.6rem;
    padding: 0 0 1rem 0;
}
footer .about_us p{
    text-align: justify;
    font-size: 1.2rem;
}
footer .contact{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.contact a i {
    font-size: 3rem;
    color: var(--font-black);
    margin-bottom: 2.5rem;
}
@media (min-width:700px){
    body .hgroup h1{
        font-size: 4rem;
    }
    .sub_articles_container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .sub_articles_container article{
        width: 47%;
    }
    footer{
        justify-content: space-between;
    }
    footer .about_us{
        padding: 2rem 2rem 4rem 2rem;
        width: 70%;
    }
    footer .contact{
        width: 10%; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contact a i{
        margin-right: 2rem;
        margin-bottom: 0rem;
    }
    .about_us{
        width: 70%;
        }
    
}
@media (min-width: 1000px){
    body{
        background-size: 100% auto;
    }
}
@media (max-width: 520px){
    .nav__a__icon{
        display: inline;
    }
    .nav__a__text{
        display: none;
    }
}